---

- type: log
  enable: {{ item.enabled | d('true') }}
  paths:
  - '/var/log/ceph/ceph-osd.*.log'
  ignore_older: 1h
  fields:
    ceph.component: osd
  fields_under_root: true

- type: log
  enable: {{ item.enabled | d('true') }}
  paths:
  - '/var/log/ceph/ceph.log'
  ignore_older: 1h
  fields:
    ceph.component: ceph
  fields_under_root: true

- type: log
  enable: {{ item.enabled | d('true') }}
  paths:
  - '/var/log/ceph/ceph.audit.log'
  ignore_older: 1h
  fields:
    ceph.component: audit
  fields_under_root: true

- type: log
  enable: {{ item.enabled | d('true') }}
  paths:
  - '/var/log/ceph/ceph-mgr.*.log'
  ignore_older: 1h
  fields:
    ceph.component: mgr
  fields_under_root: true

- type: log
  enable: {{ item.enabled | d('true') }}
  paths:
  - '/var/log/ceph/ceph-mon.*.log'
  ignore_older: 1h
  fields:
    ceph.component: mon
  fields_under_root: true

...
