- module: elasticsearch
    # Server log
  server:
    enabled: {{ item.enabled | d('true') }}

    # Set custom paths for the log files. If left empty,
    # Filebeat will choose the paths depending on your OS.
    #var.paths:

{% if item.exclude_files is defined %}
    var.exclude_files: {{ item.exclude_files | to_json }}
{% endif %}

  gc:
    #enabled: {{ item.enabled | d('true') }}
    enabled: false
    # Set custom paths for the log files. If left empty,
    # Filebeat will choose the paths depending on your OS.
    #var.paths:

  audit:
    enabled: {{ item.enabled | d('true') }}
    # Set custom paths for the log files. If left empty,
    # Filebeat will choose the paths depending on your OS.
    #var.paths:

  slowlog:
    enabled: {{ item.enabled | d('true') }}
    # Set custom paths for the log files. If left empty,
    # Filebeat will choose the paths depending on your OS.
    #var.paths:

  deprecation:
    enabled: {{ item.enabled | d('true') }}
    # Set custom paths for the log files. If left empty,
    # Filebeat will choose the paths depending on your OS.
    #var.paths:


