- module: kibana
  # All logs
  log:
    enabled: {{ item.enabled | d('true') }}

    # Set custom paths for the log files. If left empty,
    # Filebeat will choose the paths depending on your OS.
{% if item.paths is defined %}
    var.paths:
{% for path in item.paths %}
      - {{ path }}
{% endfor %}
{% else %}
    #var.paths:
{% endif %}
